

.teste {
  position: relative;
  position: absolute;
}



.teste2 { cursor: pointer; } .teste1 { position: absolute; } .teste2 { position: relative; } .teste2 { cursor: pointer; }
.teste1 {
  position: absolute;
}
.teste2 { pr } .teste2 { pa } .teste2 { pa }

.teste2 {
  position: relative;
  position: relative;
}