
.classe {
	position: relative;
	display: block;
	cursor: pointer;
	z2
}

.deu { position: relative; display: block; }

.foi {
	display: block;
	position: relative;
}

@media (min-width: $screen-md) {
 
}

@media (min-width: $screen-md) {
 
 }

@media (min-width: $screen-md) {
 
 }


bb   
